.bPopup {
	position: absolute;
	padding: 30px;
	border: 1px solid lightgray;
	border-radius: 20px;
	margin: 0 20px;
	top:0;
	width: 600px;
	margin-left: -300px;
	left: 50%;
	text-align: center;
	background-color: aliceblue;
	box-sizing: border-box;
}

.bPopup__closer {
	position: absolute;
	right: 10px;
	top:5px;
	font-weight: bold;
	color: red;
	font-size: 18px;
	cursor: pointer;
}

.bPopup__body {
	font-style: italic;
	margin-top: 20px;
}